{% extends "base.html" %}

{% block content %}
<style>
    .formm {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Ekran yüksekliğinin en az 100% olmasını sağlar */
    }
</style>

<div class="formm">
    <div>
        <h2>Ürün Ekle</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>
{% endblock %}
