{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>Ürün Listesi</h2>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Ürün İsmi</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Düzenle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} ₺</td>
                    <td><a href="{% url 'edit_product' product.pk %}" class="btn btn-warning">Düzenle</a></td>
                    <td>
                        <form method="post" action="{% url 'delete_product' product.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
